<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <title>veritabanı kayıt</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

    <h1>Veriler:</h1>

    {{ hata }} <br>

    <div class="container">
        <table class="table table-striped-columns">
            <thead>
                <tr>
                    <td>id</td>
                    <td>firstname</td>
                    <td>lastname</td>
                    <td>age</td>
                    <td>about</td>
                    <td>created_at</td>
                    <td>updated_at</td>
                    
                </tr>
                <tr>
                    <td>{{id}}</td>
                    <td>{{firstname}}</td>
                    <td>{{lastname}}</td>
                    <td>{{age}}</td>
                    <td>{{about}}</td>
                    <td>{{current}}</td>
                    <td>{{updated_at}}</td>
                    
                </tr>
            </thead>
        </table>
    </div>
    <form action="/veriler" method="post">
        <label style="font-size:large;">Firstname</label>
        <input style="font-size:large;" type="text" id="firstname" name="firstname"><br>
        <label style="font-size:large;">Lastname</label>
        <input style="font-size:large;" type="text" id="lastname" name="lastname"><br>
        <label style="font-size:large;">Age</label>
        <input style="font-size:large;" type="text" id="age" name="age"><br>
        <label style="font-size:large;">About</label>
        <input style="font-size:large;" type="text" id="about" name="about"><br>
        <button style="font-size:large;" type="submit">Update</button><br>
    </form>
</body>
</html>